
<div class="container mt-4 justify-content-center ">
  <div class="container d-flex ">
    <i class="fas fa-digital-tachograph"></i>
    <h2>Dashboard</h2>
  </div>
  <div class="container text-center py-4 my-4">
    <h2>Your games</h2>
  </div>
  <div class="d-flex ">
    <div class="cards-dashboard">
        <% @games.each do |game| %>
            <div class="card-dashboard">
              <div class="images-box mt-4">
                <div class="img-principal p-2 flex-grow-1" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url(<%= cl_image_path game.photos.first.key %>);">
                </div>
              </div>
              <div class="card-dashboard-infos">
                <div class="my-4">
                  <h3><strong>Category :</strong></h3>
                  <p><%= game.category %></p>
                </div>
                <h3><strong>Price :</strong></h3>
                <p class="gcd-price"><i class="fas fa-euro-sign"></i><%= game.price %>/day</p>

              </div>
            </div>
        <% end %>
    </div>
  </div>
</div>

<div class="container text-center mt-4">
  <p class="bg-light border mt-2"></p>
</div>

<div class="container text-center py-4 my-4">
  <h2>Bookings you made</h2>
</div>
<div class="d-flex container">
  <div class="cards-dashboard rounded-top">
    <% @bookings_i_made.each do |booking| %>
      <div class="card-dashboard">
        <div class="images-box mt-4">
          <div class="img-principal p-2 flex-grow-1" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url(<%= cl_image_path booking.game.photos.first.key %>);">
          </div>
        </div>
        <div class="card-dashboard-infos my-2">
          <div class="">
            <h3><strong>Category :</strong></h3>
            <p><%= booking.game.category %></p>
          </div>

            <h3><strong>Dates :</strong></h3>
            <p class="my-2"><%= booking.start_date %></p>
            <p><%= booking.end_date %></p>
          <h3><strong>Price :</strong></h3>
          <p class="gcd-price"><i class="fas fa-euro-sign"></i><%= booking.game.price %>/day</p>
            <% if booking.status == "pending" %>
             <span class="badge badge-warning"><%= booking.status %></span>
            <% elsif booking.status == "accepted" %>
             <span class="badge badge-success"><%= booking.status %></span>
            <% else %>
              <span class="badge badge-danger"><%= booking.status %></span>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container text-center py-4 my-4">
    <h2>Bookings of your game</h2>
  </div>
  <div class="d-flex container">
    <div class="cards-dashboard">
      <% @bookings_for_my_games.each do |booking| %>
        <div class="card-dashboard">
          <div class="images-box ">
            <div class="img-principal p-2 flex-grow-1" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url(<%= cl_image_path booking.game.photos.first.key %>);">
            </div>
          </div>
          <div class="card-dashboard-infos">
            <div class="">
              <h3><strong>Category :</strong></h3>
              <p><%= booking.game.category %></p>
            </div>
            <h3><strong>Dates :</strong></h3>
            <p class="my-2"><%= booking.start_date %></p>
            <p><%= booking.end_date %></p>
            <h3><strong>Price :</strong></h3>
            <p class="gcd-price"><i class="fas fa-euro-sign"></i><%= booking.game.price %>/day</p>
            <% if booking.status == "pending" %>
             <span class="badge badge-warning"><%= booking.status %></span>
            <% elsif booking.status == "accepted" %>
             <span class="badge badge-success"><%= booking.status %></span>
            <% else %>
              <span class="badge badge-danger"><%= booking.status %></span>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
