





<div class="container mt-4">
  <div class="d-flex flex-column align-items-center justify-content-center">

     <%= simple_form_for @game do |f| %>
        <h3><%= @text %></h3>

          <%= f.input :category, collection: Game::CATEGORIES %>
          <%= f.input :address, placeholder: '1 rue de Matignon' %>
          <%= f.input :description, placeholder: '' %>
          <%= f.input :photos, input_html: { multiple: true, id: 'photo-input', class: "d-none"}, label_html: { class: 'upload-photo'}, label: '📷  Upload the photos you want' %>
          <div class="photo-previews"></div>
          <%= f.input :price, placeholder: '€' %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>

    </div>
    </div>

  </div>

</div>
