<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <%= simple_form_for @game do |f| %>
        <h3><%= @text %></h3>
          <%= f.input :category, label: "Choose the category", placeholder: '', collection: Game::CATEGORIES %>
          <%= f.input :address, label: "What's the adress ?", placeholder: '1 rue de Matignon' %>
          <%= f.input :description, label: "Describe it", placeholder: 'Min 50 char.' %>
          <%= f.input :photos, input_html: { multiple: true, id: 'photo-input', class: "d-none"}, label_html: { class: 'upload-photo'}, label: '📷  Upload the photos you want' %>
          <div class="photo-previews"></div>
          <%= f.input :price, label: "What's the price ?", placeholder: '€' %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
