<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="game-card">

<h1>Category: <%= @game.category %></h1>
<p>Address: <%= @game.address %></p>
<p>Description: <%= @game.description %></p>
<h2>Price: <%= @game.price %></h2>
<p><% @game.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 100, width: 150, crop: :fill %>
  <% end %><%= @game.photos %>
</p>

  <% if policy(@game).update? %>
    <%= link_to '<- Edit', edit_game_path%>
  <% end %>

  <% if policy(Game).create? %>
    <%= link_to "New game", new_game_path %>
  <% end %>

  <% if policy(@game).destroy? %>
      <%= link_to '<- Delete', game_path, method: :delete, data: { confirm: "Are you sure ?"} %>
   <% end %>

    </div>

  </div>
</div>
